<%= form_for(:pool, :url => { :action => :create }) do |f| %>
 <div class="field">
   <%= f.label(:name) %>
   <%= f.text_field :name%><br/>
   <%= f.label :pool_amount %>
   <%= f.text_field :pool_amount %>
 </div>


   <%= f.fields_for :invitations do |invite_form| %>
	  <%= invite_form.label :invite %>
	  <%= invite_form.text_field :invite %>
   <% end %>




 <div class="actions">
   <%= f.submit "Create Pool" %>
 </div>
<% end %>