<%= form_for(:pool, :url => { :action => :create }) do |f| %>
 <div class="field">
   <%= f.label(:name) %>
   <%= f.text_field :name%><br/>
   <%= f.label :pool_amount %>
   <%= f.text_field :pool_amount %><br/>
   <%= f.label :member_limit %>
   <%= f.text_field :member_limit %><br/>
 </div>


 <div class="actions">
   <%= f.submit "Create Pool" %>
 </div>
<% end %>
