<h2><%= @pool.name %></h2><br> <br>
<div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>

<h2>$<%= @pool.pool_amount %></h2> <br>

<h2>Swimmers:</h2><br/>
<% @pool.swimmers.each do |swimmer| %>
  <h2><%= link_to User.find_by(id: swimmer.user_id).first_name, user_path(User.find_by(id: swimmer.user_id)) %></h2>
<%end%>
  <div class="home_button"><%= link_to "My main page", "/"%></div><br/>
