<h2><%= @pool.name %></h2>
<div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>

<h4>Pool Amount: $<%= @pool.pool_amount %></h4>
<h5><%= @pool.lifeguard.first_name %> is the lifeguard for this pool.</h5>

<h3>Swimmers:</h3>
<% @pool.swimmers.each do |swimmer| %>
  <h4><%= link_to User.find_by(id: swimmer.user_id).first_name, user_path(User.find_by(id: swimmer.user_id)) %></h4>
<%end%><br>


<% if current_user.id == @pool.lifeguard_id %>
  <%= form_for(@pool.invitations.build, :url => "/invitations/create", :html => {:method => :post}) do |f| %>
   <div class="field">
     <%= f.label(:guest) %>
     <%= f.text_field :guest%><br/>
     <%= hidden_field_tag("invitation[pool_id]", value = @pool.id) %>
   </div>

   <div class="actions">
     <%= f.submit "Invite User" %>
   </div><br>
    <% if @pool.start_date.nil? %>
      <%= link_to "Start Pool", pools_start_pool_path(@pool) %>
      <%= notice %>
    <% else %>
      <h4>Pool started <%=@pool.start_date %></h4>
    <% end %>

<% end %>
<%elsif @pool.swimmers.include?(current_user.id)%>
  <h5>Welcome back <%=current_user.first_name%>!</h5>
<%else%>
  <%= link_to "Accept Invitation", invitations_accept_path(pool_id:@pool.id, invitation_id: params['invitation_id']) %>
  <%= link_to "Decline Invitation", invitations_decline_path(pool_id: @pool.id, invitation_id: params['invitation_id']) %>
<%end%>
      <%= notice %>
  <div class="home_button"><%= link_to "My Profile", "/profile"%></div><br/>
