<h2><%= @pool.name %></h2>
<div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>

<h4>Pool Amount: $<%= @pool.pool_amount %></h4>

<h3>Swimmers:</h3>
<% @pool.swimmers.each do |swimmer| %>
  <h4><%= link_to User.find_by(id: swimmer.user_id).first_name, user_path(User.find_by(id: swimmer.user_id)) %></h4>
<%end%><br>


<%= form_for(@pool.invitations.build, :url => "/invitations/create", :html => {:method => :post}) do |f| %>
 <div class="field">
   <%= f.label(:guest) %>
   <%= f.text_field :guest%><br/>
   <%= hidden_field_tag("invitation[pool_id]", value = @pool.id) %>
 </div>

 <div class="actions">
   <%= f.submit "Invite User" %>
 </div>
<% end %>

  <div class="home_button"><%= link_to "My Profile", "/"%></div><br/>
