<% if !current_user %>
  <div class="welcome"><h1>Welcome to the Susu App!</h1></div>
    <% end %>


<% if current_user %>
  <h3><%= "Welcome, #{current_user.first_name}!" %></h3>
  <%= image_tag current_user.profile_photo %>
  <div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>
  <h3><%= notice %></h3><br>
  <h3>My Pool(s)</h3>
  <% unless current_user.pools.empty? %>
    <% current_user.pools.each do |pool|%>
      <h3><%=link_to pool.name, pool_path(pool) %></h3><br/>
    <% end %>
  <% else %>
    <%= "You are not apart of any current pools!" %>
  <% end %>

  <% if @open_invitations.any?%>
    <% @open_invitations.each do |invitation| %>

    <h3>You have been invited to <%= link_to invitation.pool.name, pool_path(invitation.pool, invitation_id: invitation.id) %></h3>

      <%end%>
  <%else%>
    <h3>You don't have any current invitations.</h3>
  <%end%>

  <h4><%= link_to "Create Pool", "/createpool"%></h4>


<% end %>
