
<% if current_user %>
  <h1><%= "Welcome, #{current_user.first_name}!" %></h1><br/>
  <% unless current_user.pools.empty? %>
	  <% current_user.pools.each do |pool|%>
	  	<h3><%=link_to pool.name, pool_path(pool) %></h3><br/>
  	<% end %>
  <% else %>
  	<%= "You are not apart of any current pools!" %>
  <% end %>

  <% if current_user.invitations.any? %>
    <% current_user.invitations.each do |invitation| %>
    <h3>You have been invited to <%= invitation %></h3>
      <%end%>
  <%else%>
    <h3>You don't have any current invitations.</h3>
  <%end%>

  <%= link_to "Sign out", "/signout"%>
  <%= link_to "Create Pool", "/createpool"%>
<%  else %>
  <%= link_to "Sign in with Venmo", "/auth/venmo" %>
<% end %>
