<% if !current_user %>
  <div class="welcome"><h1>Welcome to the Susu App!</h1></div>
    <% end %>


<% if current_user %>
  <h3><%= "Welcome, #{current_user.first_name}!" %></h3>
  <h3><%= notice %></h3><br>

  <% unless current_user.pools.empty? %>
    <% current_user.pools.each do |pool|%>
         <div class="row">
            <div class="col-md-12">
            <div class="content-panel">
            <h3>Current Pools</h3>
                <hr>
                <table class="table">
                <thead>
                <tr>
                <th>#</th>
                <th>Pool Name</th>
                <th>Pool Amount</th>
                <th>Swimmers Count</th>
                </th>
                </tr>
                </thead>

                <tbody>

                  <tr>
                  <td>1</td>
                  <td><%= link_to pool.name, pool_path(pool) %></td>
                  <td><%= link_to pool.pool_amount, pool_path(pool)%></td>
                  <td><%= link_to pool.swimmers.count, pool_path(pool) %></td>
                  </tr>

                </tbody>
                </table>
            </div><!--content-panel -->
            </div><!-- /col-md-12 -->
         </div>
    <% end %>
  <% end %>


<!-- THIS IF HAVE INVITATIONS NEEDS IT's OWN VIEW PAGE -->
  <% if @open_invitations.any?%>
    <% @open_invitations.each do |invitation| %>
    <h3>You have been invited to <%= link_to invitation.pool.name, pool_path(invitation.pool, invitation_id: invitation.id) %></h3>
    <%end%>
  <%else%>
    <h3>You don't have any current invitations.</h3>
  <%end%>
<!-- THIS IF HAVE INVITATIONS NEEDS IT's OWN VIEW PAGE -->


<% end %>
