<% if !current_user %>
  <div class="welcome"><h1>Welcome to the Susu App!</h1></div>
    <% end %>


<% if current_user %>
  <h3><%= "Welcome, #{current_user.first_name}!" %></h3>
  <div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>
  <% unless current_user.pools.empty? %>
    <% current_user.pools.each do |pool|%>
      <h3><%=link_to pool.name, pool_path(pool) %></h3><br/>
    <% end %>
  <% else %>
    <%= "You are not apart of any current pools!" %>
  <% end %>

  <% if current_user.invitations.any? %>
    <% current_user.invitations.each do |invitation| %>
    <h3>You have been invited to <%= link_to invitation.pool.name, pool_path(invitation.pool) %></h3>
      <%end%>
  <%else%>
    <h3>You don't have any current invitations.</h3>
  <%end%>

  <%= link_to "Create Pool", "/createpool"%>

<%  else %>
  <div class="venmo_button"><%= link_to "Sign in with Venmo", "/auth/venmo" %>
  </div>
<% end %>
