<!DOCTYPE html>
<html>
<head>
  <title>SuSuapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div id="nav-bar">
      <div class="title"><a>SuSu</a>  </div>
      <div class="sign-in-out">
        <% if current_user %>
          <a><%= link_to "Sign In", "/auth/splitwise" %> <b>|</b></a>
          <a> <%= link_to "Sign out", "/signout"%> </a>
        <% else %>
          <a><%= link_to "Sign In", "/auth/splitwise" %> <b>|</b></a>
          <a><%= link_to "Sign Up", "/" %></a>
        <% end %>

      </div>
  </div>
  <div class="style-bar"></div>


  <div id="main-content">
    <%= yield %>
  </div>

</body>
</html>
